# .env.example
# --- Backend Server ---
API_PORT=8000
MODEL_ARTIFACTS_DIR=../latent-faults-slipgen/mlruns/0/78e079309483436ca07dd38f4690288b/artifacts
MODELS_DIR=../latent-faults-slipgen/models
RANDOM_SEED_DEFAULT=42

# --- Model Input Hyperparameter Defaults ---
# Moment Magnitude
MW_DEFAULT=5.5
MW_MIN=1.0
MW_MAX=10.0

# These parameters dynamically use dataset min/max, but can be overridden
DZ_MIN=0.5
DZ_MAX=2.0

# --- Monitoring ---
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
