
# torch
# torchvision
fastapi>=0.100.0
uvicorn>=0.23.0
pydantic>=2.0.0
PyYAML
numpy
scipy
prometheus-fastapi-instrumentator
python-dotenv
matplotlib
scikit-learn
pandas
affine==2.4.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.0
aiosignal==1.4.0
annotated-types
anyio==4.11.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.3.0
asttokens==3.0.0
async-lru==2.0.5
attrs==25.4.0
babel==2.17.0
beautifulsoup4==4.13.5
bleach==6.2.0
Cartopy==0.25.0
certifi==2025.4.26
charset-normalizer==3.4.2
click-plugins==1.1.1.2
cligj
colorama
comm==0.2.3
contextily==1.6.2
contourpy==1.3.2
cryptography
cycler==0.12.1
datasets==4.2.0
debugpy==1.8.16
decorator==5.2.1
defusedxml==0.7.1
dill==0.4.0
einops==0.8.1
executing==2.2.1
fastjsonschema==2.21.2
filelock
# flash_attn==2.8.3
fonttools==4.58.1
frozenlist
fsspec
gdown==5.2.0
geographiclib==2.1
geopy==2.4.1
gitdb
GitPython
h11
hf-xet==1.1.3
httpcore
httpx
huggingface-hub==0.35.3
idna==3.10
imageio==2.37.0
ipykernel==6.30.1
ipython
Jinja2
joblib
jsonpatch
jsonschema
jupyterlab
keyring
kiwisolver
lazy_loader
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mercantile
mistune
mpmath
multidict
multiprocess
narwhals
nest-asyncio
networkx
numpy
opencv-python-headless
packaging
pandas
parso
pillow
plotly
prometheus_client
propcache
protobuf
psutil
pyarrow
pycparser
pydantic
pydantic_core
Pygments
pyparsing
pyproj
python-dateutil
python-dotenv
pytz
PyYAML
pyzmq
rasterio
referencing
regex
requests
rich
rpds-py
safetensors
scikit-image
seaborn
Send2Trash
sentence-transformers
sentry-sdk
setuptools
shapely
six
smmap
soupsieve
stack-data
sympy
# tensorflow
threadpoolctl
timm
tokenizers
tornado
tqdm
transformers==4.57.0
tzdata
urllib3
wcwidth
webcolors
websocket-client
xarray
xxhash
xyzservices
yarl
zstandard